.header {
    height: 60px;
    background-color: #F3ECF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header p, .header ul {
    font-size: 18px;
    margin-bottom: unset;
}
.header a {
    text-decoration: none;
}
.right-side {
    display: flex;
    column-gap: 30px;
    margin-right: 30px
}
.logo {
    flex-grow: 0;
    margin-right: 50px;
    height: 30px;
    width: 30px;
    margin-left: 30px;
}
.logo + div {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user {
    border-radius: 50%;
    background-color: #757575;
    text-align: center;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 28px;
    font-size: 17px;
}

.nav-background {
    z-index: 1;
    opacity: .3;
    background-color: #878787;
    display: none;
}
.nav {
    z-index: 1000;
    transition: transform .5s;
}
.nav .close {
    display: none;
    margin: 20px 0 11px 33px;
    cursor: pointer;
    width: fit-content;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    column-gap: 45px;
}
.nav li {
    display: inline;
    margin-bottom: 0;
}
.nav a {
    color: #484646;
}

.user-box {
    height: 60px;
    text-align: center;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-box:hover .menu-container {
    display: block;
}
.menu-container {
    display: none;
    position: absolute;
    top: 60px;
    padding-top: 10px;
}
.menu {
    padding: 15px;
    background-color: #F3ECF3;
    position: relative;
    text-align: start;
    line-height: normal;
    z-index: 100;
    color: #484646;
    border-radius: 5px;
}
.menu span {
    cursor: pointer;
}

.pages-icon {
    display: none;
    cursor: pointer;
    height: 25px;
    margin-left: 30px;
}

@media screen and (max-width: 900px) {
    .logo {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
    .right-side {
        position: absolute;
        right: 0;
    }
    .menu-container {
        right: -15px
    }
    .pages-icon {
        display: block;
    }
    .nav-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(-100vw);
    }
    .nav {
        display: block;
        transform: translateX(-100%);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 210px;
        padding-bottom: 20px;
        background-color: #F3ECF3;
    }
    .nav .close {
        display: block;
    }
    .nav ul {
        padding-left: 15px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .nav li {
        display: block;
        width: 100%;
        padding: 10px 30px;
    }
}