.container {
    width: 80%;
    margin: auto;
    padding: 40px 0
 }
.spinner {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.sort-container {
    margin: 0 auto 40px auto;
    display: flex;
    width: fit-content;
    font-size: 17px;
}
.sort-container > div {
    position: relative;
}
.sort-container > div:first-of-type {
    margin-right: 50px;
}
.sort-container .field {
    margin-top: 5px;
    padding: 8px 12px;
    width: 160px;
    background-color: #fff8ff;
    border: 1px solid #f1e6f1;
    display: flex;
    justify-content: space-between;
}
.sort-container .field span {
    transform: translateY(-3px);
}
.sort-container ul {
    list-style: none;
    padding: 0 8px;
    background-color: #fff8ff;
    border: 1px solid #f1e6f1;
    color: #232323;
    position: absolute;
    top: 61px;
    width: 160px;
    height: 0px;
    overflow: hidden;
    transition: .5s all;
    z-index: 100;
}
.sort-container > div.active ul {
    height: 112px;
}
.sort-container > div span {
    transition: .5s all;
}
.sort-container > div.active span {
    transform: rotate(180deg) translateY(-2px);
}
.sort-container ul li {
    padding: 7px 4px;
}
.sort-container ul li:first-of-type {
    margin-top: 0;
}
.sort-container ul li.active {
    background-color: #f4ebf5;
}

.cards {
    justify-items: center;
}

@media screen and (max-width: 730px) {
    .sort-container {
        display: block;
    }
    .sort-container > div:first-of-type {
        margin: 0 0 40px 0;
    }
}