* {
  margin: 0;
  box-sizing: border-box;
}
::selection {
    background-color: rgb(229 225 230);
}
select::-ms-expand {
  display: none;
}

html {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
html:not(.loaded) {
    opacity: 0;
}
  
html.loaded {
    opacity: 1
}

html, body {
  overflow-x: hidden;
}
html {
  background-color: rgb(255 250 255);
  min-width: 320px;
  user-select: none;
}
a {
  color: unset;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
button:disabled {
  cursor: default;
}
select {
  outline: none;
  padding: 5px;
  border: none;
}
label, input, select, button {
  outline: none;
  border: none
}
h1, h2, h3, h4 {
    color: #70676D;
}

h1, h2, h3 {
    font-weight: 400;
}
h4 {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 5px;
}
h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
strong {
  font-weight: 500;
}
h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
article, section {
    margin-bottom: 50px;
}

p, ul, ol, summary, table {
    color: #5b535b;
    font-size: 19px;
    margin-bottom: 10px;
}
ul > li,
ol > li {
    margin-bottom: 5px;
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 32px;
    }
}

/* dark theme */

html.dark ::selection {
    background-color: rgb(86 79 89);
}

html.dark input::selection {
    background-color: rgb(198 198 198);
}

html.dark {
    background-color: #332F33;
}
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4 {
    color: #e2e2e2
}
html.dark p,
html.dark ul,
html.dark ol,
html.dark table,
html.dark summary,
html.dark label {
    color: #dadada
}

html.dark table td,
html.dark table th {
    border-color: #dadada;
}

/* kanji page */

html.dark a label {
    color: #dadada
}
html.dark .session-alert p {
    background-color: #494949;
}
html.dark .settings,
html.dark .link-box {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada
}
html.dark .card,
html.dark .card + button {
    background-color: #302c2c;
    border: 1px solid #252425;
}
html.dark .card span {
    color: #dadada;
}
html.dark .card span:nth-child(2) {
    color: #808080
}
html.dark .page-choice-box button {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada
}

/* header, footer */

html.dark header,
html.dark header .menu,
html.dark footer {
    background-color: #363236;
}
html.dark header .menu,
html.dark header a {
    color: #DFDFDF
}

@media screen and (max-width: 900px) {
    html.dark header .nav {
        background-color: #3d3a3d;
    }
}

/* repeat page */

html.dark .card p,
html.dark .card ul li,
html.dark .card .increase {
    color: #dadada;
}
html.dark .field,
html.dark .field + ul {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada
}
html.dark .field + ul li.active {
    background-color: #3d3d3d
}

html.dark .repeat-direction button {
    color: #dadada;
    border: 1px solid #252425;
}
html.dark .repeat-direction button:disabled {
    color: #b0b0b0
}

/* test page */

html.dark .checking i{
    color: white
}

html.dark .non-kanji-container {
    color: #dadada
}

html.dark .test-container,
html.dark .form-container {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada;
    box-shadow: none;
}
html.dark .test-container span,
html.dark .test-container > div {
    color: #dadada;
    background-color: #302c2c;
}
html.dark .test-container button {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada;
    box-shadow: none;
}

/* auth pages */

html.dark .auth-box {
    background-color: #302c2c;
    border: 1px solid #252425;
    color: #dadada;
    box-shadow: none;
}
html.dark .auth-box a {
    color: rgb(186 186 186);
}
html.dark .auth-box button {
    background-color: #666666;
    border: 1px solid #252425;
}
html.dark .auth-box button:disabled {
    background-color: #4d4d4d;
}

html.dark .auth-box button:first-of-type {
    color: rgb(186 186 186)
}

html.dark .auth-box input:invalid {
    border-width: 2px;
}