* {
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background-color: rgb(229 225 230);
}
select::-ms-expand {
  display: none;
}

html {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
html:not(.loaded) {
    opacity: 0;
}
  
html.loaded {
    opacity: 1
}

html, body {
  overflow-x: hidden;
}
html {
  background-color: rgb(255 250 255);
  min-width: 320px;
  user-select: none;
}
a {
  color: unset;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
button:disabled {
  cursor: default;
}
select {
  outline: none;
  padding: 5px;
  border: none;
}
label, input, select, button {
  outline: none;
  border: none
}
h1, h2, h3, h4 {
    color: #7B6178;
}
h1, h2, h3 {
    font-weight: 400;
}
h4 {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 5px;
}
h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
strong {
  font-weight: 500;
}
h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
article, section {
    margin-bottom: 50px;
}

p, ul, ol, summary, table {
    color: #644E63;
    font-size: 19px;
    margin-bottom: 10px;
}
ul > li,
ol > li {
    margin-bottom: 5px;
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 32px;
    }
}