.container > div {
    width: 60%;
    max-width: 1200px;
    margin: 40px auto;
    user-select: text;
    background-color: #f1e4f3;
    padding: 40px 5%;
}
.header-block {
    margin: 30px auto 60px auto;
    display: flex;
    align-items: center;
    max-width: 800px
}
.header-block > span {
    user-select: none;
    font-size: 70px;
    color: #F1E4F3;
    writing-mode: tb-rl;
    letter-spacing: 30px;
    display: block;
    margin-right: 20px;
    padding: 20px 30px 0 30px;
    line-height: 50px;
    background-color: #AA94A7;
    border-radius: 10px;
}
.header-block h1 {
    color: #7c6778;
    max-width: 200px;
    z-index: 10;
}
.container h2 {
    font-size: 30px;
    color: #8a778e;
}
.container h3 {
    font-size: 23px;
}
.text-content {
    margin: auto;
    max-width: 800px;
    font-size: 21px;
    color: #5c525e
}
.text-block {
    margin-bottom: 50px;
}
.text-block p {
    margin-bottom: 15px;
}
.text-block i {
    display: block;
    margin: 10px 0 0 10px;
}
.text-block ol {
    margin-top: 5px;
}
.text-block ol li {
    margin-bottom: 3px;
}

@media screen and (max-width: 1300px) {
    .container > div {
        width: 90%;
    }
}
@media screen and (max-width: 850px) {
    .header-block span {
        font-size: 60px
    }
    .header-block h1 {
    font-size: 30px;
    }
    .text-content {
        font-size: 18px
    }
    .container h2 {
        font-size: 25px;
    }
    .container h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    .header-block {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    .header-block h1 {
        text-align: center;
    }
    .header-block span {
        text-align: center;
        margin: 0 0 30px 0;
        font-size: 30px;
        writing-mode: unset;
        padding: 0px 30px 5px 45px;
        line-height: unset;
        letter-spacing: 15px;
    }
}