.spinner {
    border: 5px solid transparent;
    border-radius: 50%;
    border-bottom-color: rgb(216, 168, 168);
    animation: load 1s linear infinite;
}
@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}