.container {
    width: 60%;
    margin: auto;
    max-width: 1200px;
    min-height: Calc(100vh - 85px);
    position: relative;
    font-size: 18px;
}
.spinner {
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.container h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    color: #56515a
}
.description {
    margin-bottom: 15px;
    width: 390px;
    margin: 0 auto 15px auto;
    font-size: 20px;
    color: #6e6872;
    text-align: center;
}
.settings {
    box-shadow: 0px 2px 4px rgb(182 182 182 / 50%);
    background-color: #fff9f9;
    padding: 60px 20px;
    margin-bottom: 40px;
    color: #6b616b
}
.settings .filter,
.settings .sort {
    margin-bottom: 40px;
}
.settings > div {
    max-width: 800px;
    margin: auto;
}
.settings > div > p {
    margin-bottom: 10px;
}
.settings label {
    white-space: nowrap;
}
.settings input[type=radio] {
    margin: 0 30px 10px 5px;
    display: inline-block;

}
.settings input[type=text] {
    width: 100%;
    margin-bottom: 10px;
}
.settings input[type=text], 
.settings select {
    padding: 10px 14px;
    font-size: 17px;
    /* border: 1px solid #d4d4d4;
    background-color: #FFF5FE; */
    border: 1px solid #dadada;
    background-color: #fffcff;
}
.settings select {
    width: 132px;
    margin-top: 10px;
}
.checkbox-container label {
    margin-left: 5px;
}

.alert {
    width: fit-content;
    margin-bottom: 30px;
}
.alert p {
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #f3e9f4;
    color: #4b414c;
}
.page-choice-box {
    display: flex;
    justify-content: center;
}
.page-choice-box:last-of-type{
    margin-bottom: 30px;
}
.page-choice-box button {
    padding: 5px;
    width: 125px;
    height: 40px;
    /* background-color: #F4E4F5; */
    background-color: #faf1fa;
    /* box-shadow: 0px 2px 4px rgba(100,100,100,0.5); */
    box-shadow: 0px 1px 2px rgb(186 160 188 / 50%);
    border-radius: 8px;
}
.page-choice-box button:disabled {
    /* background-color: #F4E4F5; */
}
.page-choice-box > button:first-child {
    margin-right: 50px;
}

.cards-block {
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
}
.sub-container {  
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    column-gap: 45px;
    row-gap: 60px;
    justify-content: space-around;
    overflow-y: hidden;
}

@media screen and (max-width: 1300px) {
    .container {
        width: 80%;
    }
}
@media screen and (max-width: 950px) {
    .container {
        font-size: 18px;
    }
    .description h1 {
        font-size: 30px;
    }
    .top-block {
        flex-direction: column;
        align-items: center;
    }
    .top-block h1 {
        margin-bottom: 20px;
    }
    .top-block p {
        margin-bottom: 40px;
    }
    .alert {
        margin: 0 auto 30px auto;
    }
}
@media screen and (max-width: 700px) {
    .page-choice-box {
        display: none;
    }
    .cards-block {
        height: 352px;
        margin: 30px auto;
    }
    .sub-container {
        display: flex;
        flex-direction: row;
        column-gap: unset;
        position: absolute;
        left: -10vw;
        transition: all .2s ease;
    }
}
@media screen and (max-width: 500px) {
    .description {
        width: 100%;
    }
    /* .settings input[type=text],
    .settings select {
        width: 100%
    } */
}